/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 80px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
#divLeft {
    left: 0px;
    position: absolute;
}

#drop_zone {
    border: 5px solid blue;
    width:  200px;
    height: 100px;
}
.image-approved{
    background: rgba(38, 255, 0, 50);
}

.image-pending{
    background: rgba(255, 200, 0, 50);
}

.image-rejected{
    background: rgba(255,0,0,50);
}

.hidden{
    visibility: hidden;
}
